<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <script src="https://unpkg.com/axios@1.0/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/styles/colours.css">
        <link rel="stylesheet" href="/styles/fonts.css">
        <link rel="stylesheet" href="/styles/main.css">
        <script src="/scripts/moduleContext.js"></script>
        <script src="/scripts/main.js"></script>
        <script>
            window.addEventListener('load', async () => {
                const origin = window.location.origin;

                cascadeID = window.location.pathname.split("/")[2];

                const cascadeContent = await axios.get(origin + `/cascade-content/${cascadeID}`);
                const cascadeModules = await axios.get(origin + `/cascade-modules/${cascadeID}`);
                localModel = cascadeModules.data;
                //console.log(localModel);

                document.querySelector("#cascade-container").innerHTML = cascadeContent.data;
            });
        </script>
    </head>
    <body>
        <div id="editor-top-bar">
            <img id="logo" src="/media/images/casadaz.png"/>
            <p id="cascade-id">Cascade {{cascadeID}}</p>
            <div id="cascade-buttons">
                <button onclick="deleteCascade()" id="delete-cascade"><img src="/media/images/fontawesome/trash-can-solid.svg"/>Delete&nbsp;Cascade</button>
                <button onclick="saveCascade()" id="save-cascade"><img src="/media/images/fontawesome/floppy-disk-solid.svg"/>Save&nbsp;Cascade</button>
            </div>
        </div>
        <div id="editor-container">
            <div id="left-container">
                <div id="cascade-container"></div>
            </div>
            <div id="properties-container" class="hidden-panel">
                <h2 id="properties-title">Properties</h2>
                <p id="properties-module-type"></p>
                <button id="close-properties-button" onclick="closeProperties()"><img src="/media/images/fontawesome/xmark-solid.svg"/></button>
                <div id="properties-form"></div>
                <div id="properties-buttons">
                    <button onclick="saveModule()"><img src="/media/images/fontawesome/floppy-disk-solid.svg"/>Save Module</button>
                    <button onclick="deleteModule()"><img src="/media/images/fontawesome/trash-can-solid.svg"/>Delete Module</button>
                </div>
            </div>
        </div>
    </body>
</html>